// themes - our custom or/and out of the box themes
@import 'themes';
@import '~angular-tree-component/dist/angular-tree-component.css'; 
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  @include bootstrap-rtl();
};

/********************************************/
.tree-node {
  color: #26A65B;
}
.tree-node.tree-node-leaf {
  color: #446CB3;
}
.tree-menu {
  color: #bb4d21;
}

  .tree-menu .tree-menu-option:hover {
    background-color: #cfbd86;
  }

  .fa {
    padding: 3px;
  }

.node-content-wrapper:hover, .node-content-wrapper-active, 
.node-content-wrapper.node-content-wrapper-active:hover, 
.node-content-wrapper-active.node-content-wrapper-focused,
.node-content-wrapper-focused{
  background-color: #e5dbbd;
}

.node-content-wrapper:hover .tree-menu{
  display: inline !important;
}
